<!DOCTYPE html>
<html>
   <head>
    <meta charset = "UTF-8">
    <title>회원 등록 성공 페이지</title>
    </head>
    <body>
        
    <div class = "container">
        <div class = "page-header text-center">
            <h1><span class = "fa fa-anchor"></span>회원가입 성공</h1>
        </div>
        <br>
           <h3><span class = "fa fa-user"></span>로컬 프로필 정보</h3>
          <p>
         <strong>이메일</strong> : <%= user.email %><br>
         <strong>닉네임</strong> : <%= user.nickname %>     
        </p>
        <br>   
       <p><a href = "/">홈으로</a></p>
    </div>
   
    </body>
</html>