<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8"/>
<style type="text/css">
<title>id search</title>
#wap{width : 100%; margin : 0 auto;}
#footer{width : 100%; height : 100%; padding-bottom: 20px;}
#contents{position: relative; width : 100%; height : 100%; }
#header{width : 100%; height : 100%; }
#login_form{background-color: white;}
.login{font-family:  Arial;}
.login_header .login_tit{text-align: center; font-size: 40px;  margin-top : 110px;}
hr{color : #D5D5D5;}
/* header */
.header {}
.header .header-menu {text-align : right;}
.header .header-menu a {position: relative; display : inline-block; color : #4C4C4C; text-decoration : none;
                        padding : 4px 0px 0px 3px; margin-right : 15px;}
.header .header-menu a:hover {text-decoration: underline; color : #F2D359;}
.header .header-menu a:before {content :''; width : 1px; height : 12px; position : absolute;background: #4C4C4C; left :-9px; top : 10px;}
.header-menu a:first-child:before{width: 0px; height: 0px}
.header .header-title {}
.header .header-title h1{ display : inline-block; font-family : Arial; color :#353535;
                        font-size : 39px; margin-left : 35px; margin-top : 1px;}
/* contents */
.find_id_item{text-align: center; margin: 50px 0 100px 0;}
.find_id_item1{}
.find_id_item2{}
.find_id_item .button1{background-color: #E5A102; color: white; border-style: none;
border-radius: 3px; padding: 14px 24px; text-align: center; text-decoration: none; display:inline-block; font-size: 16px; margin-top : 30px; width:250px;}
p{margin-bottom: 30px;}
/* footer */
.footer{ font-size: 12px; text-align :center; display: block; border-top: solid 1px #D5D5D5; }
.footer ul{padding-left : 0px;}
.footer li{display : inline; padding : 0px 0px 20px 20px;}
.footer li a{text-decoration: none; color : black;}
</style>
</head>

<body>
    <form method = "post" action = "/process/login">
  <div id= "wap">
    <div id ="header">
      <div class = "header">
        <div class = "header-menu">
          <a href="login.html">Login</a>
          <a href ="mypage.html">Mypage</a>
          <a href = "등록.html">Registration</a>
        </div>
        <!-- header-menu-->
      <div class = "header-title">
      <h1>ID 찾기</h1>
    </div>
  </div>
</div>

<hr>

  <div id = "contents">
    <div class = "find_id_item">
    <p>닉네임 : <input type="text" name="name" class = "name" /></p>
    <!--닉네임-->
       <p class = "find_id_item_1">
          이메일 : <input type='text' name="이메일" class = "email"/></p>
     

       <p><input type='checkbox' name='setOpenSSL' /> 보안전송</p>
       <input type='submit' class="button1" value='찾기'>
 </div>
</div>

  <div id = "footer">
  <div class = "footer">
  <ul>
    <li><a href ="#">사이트 도움말</a></li>
    <li><a href ="#">사이트 이용약관</a></li>
    <li><a href ="#">사이트 운영규칙</a></li>
    <li><a href = "#">개인정보</a></li>
  </ul>
  <address>
    Copyright&copy;wap5.co.kr All Right Rederved
  </address>
  </div>
  </div>
</div>
</form>
</body>
</html>